# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# ==========================
# SQLite Database
# ==========================

database/*.db

# ==========================
# Logit
# ==========================

data/logs/*.log

# ==========================
# Virtuaaliympäristöt
# ==========================

venv/
.venv/
env/

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# Käyttöjärjestelmä
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Kaikki Python-välimuistit
# ==========================

**/__pycache__/
*.pyc
# BearCore generated data

backups/
.backups/
reports/

logs/events.json

*.zip
